.toolbar {
    justify-content: space-between;
    background-color: #00FFE5;
    z-index: 1201;
}
.sub-toolbar {
    background-color: #00EFD6;
    padding: 5px 35px;
    justify-content: flex-end;
    z-index: 1201;

    button {
        padding: 8px;
        outline:none !important;
    }
}

@import '~bootstrap/scss/bootstrap.scss';